$color-green: #8AAC03;

.form-pagamento{

    .CVV{
        margin-left: 2rem;
        width: 100%;
    }

    .botao{
        width: 13rem;
        border-radius: 0.5rem;
        height: 2.4rem;
    }

    .botao:hover{
        background-color: white;
        border: 1px solid $color-green;
        color: $color-green;
    }
}